@media (min-width: 768px ){
    
    .our-goals .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .our-goals .goals-card{
        flex-basis: calc((100% - 3rem)/2);
    }

    .goals-card .title, .goals-card .description{
        text-align:left;
    }

    /*Section Team*/
    .team .container,.portfolio .container{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 1rem 6.75rem;
    }
    .team .card, .portfolio .card{
       flex: 0 1 max-content;
       width: max-content;
    }


    footer .container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        row-gap: 4.5rem;
        column-gap: 1.5rem;
        padding: 6rem 1.75rem;
    }
    footer .footer-description{
        flex: 1;
    }
    footer .social-media{
        flex: 1;
    }
    .footer-description .text{
        text-align: justify;
    }

    footer form{
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: 1.5rem;
    }
    footer .subscribe input{
        flex-basis: calc(50% - .75rem);
    }
    footer .subscribe .subscribe-btn-container{
        flex: 1;
    }
    footer .subscribe-title{
        width: 100%;
        text-align: left;
    }
    footer .social-links{
        justify-content: flex-start;
    }
    footer .category-title{
        text-align: left;
    }
}
